fastapi
uvicorn[standard]
gunicorn
sqlmodel
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
emails
python-dotenv
openai
google-genai
psycopg2-binary
httpx
email-validator
